<html>
<style>
    .s1{
        font-size: 60px;
        background-color: wheat;
        color: maroon;
        text-align: center;
    }
</style>
   <body>
      <table align="center" border="2">
          <tr><th class="s1" colspan="3">Satya Employee Details</th></tr>
          <tr>
              <th class="s2">
                <a href="{% url 'main' %}">Home</a>
              </th>
              <th class="s2">
                  <a href="{% url 'employee_add' %}">Employee Registation</a>
              </th>
              <th class="s2">
                <a href="{% url 'view_emplo' %}">View Employee</a>
              </th>
          </tr>
          <tr>
              <th colspan="3">
                  {% block biswal %}
                  {% endblock %}
              </th>
          </tr>
      <tr>
          <th colspan="3">
              copyrights@aseshbiwal
          </th>
      </tr>
      </table>
   </body>
</html>